<app-header titulo="Formulario geocarcas" boton_atras="true">
</app-header>

<ion-content>

  <div class="margen-mapa margen2"> 

    <!-- <div id="mapgeo_area">

        <div leaflet style="height: 100%; margin: 0; padding: 0;"
        leafletDraw
        style="height: 100%;"
        [leafletOptions]="options"
        [leafletDrawOptions]="drawOptions"
        [leafletDrawLocal]="drawLocal"
        (leafletDrawCreated)="onDrawCreated($event)"
        >
        <div [leafletLayer]="drawnItems"></div>
        </div>

    </div> -->
  </div>

</ion-content>
