<app-header titulo="Pagos realizados" boton_atras="true">
</app-header>

<ion-content>

  <ion-list>
    <div style="background: #fff;">
        <ion-row *ngFor="let item of lista_pagos" >
            <ion-col size="12">
                <div class="btnprincipal" 
                style="
                margin-top: 4px; 
                margin-bottom: 4px; 
                margin-left: 20px; 
                margin-right: 20px; 
                border-radius: 20px;
                background:#fff;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

                border-left: 4px solid #2196f3 !important;

                "
                >
                    
                    <ion-row >             
                        <ion-col size="12" style="margin: 0px;padding: 0px;" >
                            <div>
                                <ion-row>
                                  <ion-col size="12" style="padding: 0px;margin: 0px;">
                                    <div  style="height: 50px; border-top-left-radius: 20px;border-top-right-radius: 20px;color: #fff;font-weight: bold;">
                                      <ion-row>
                                        <ion-col size="2">
                                          <div style="text-align: right; padding-top: 12px;font-size: 1.3rem;text-transform: uppercase;color: #2196f3;">
                                            <ion-icon name="card-outline" style="width: 40px;"></ion-icon>
                                          </div>
                                        </ion-col>
                                        <ion-col size="8">
                                          <div style="text-align: center; 
                                          padding-top: 12px;font-family: 'Verdana';
                                          font-size: 0.9rem;
                                          text-transform: uppercase;color: green;
                                          ">
                                            {{item.nombre}} {{item.apellido_paterno}} {{item.apellido_materno}}
                                          </div>
                                        </ion-col>
                                        <ion-col size="2">
                                          <div style="text-align: right;padding-right: 10px; padding-top: 12px;">
                                            <!-- <ion-icon (click)="mostrar_opciones_vechiulo(item.placa,item.linea_gps)" style="width: 25px;" name="ellipsis-vertical-outline"></ion-icon> -->
                                          </div>
                                        </ion-col>
                                      </ion-row>


                                    </div>
                                  </ion-col>
                                </ion-row>
                                <ion-row  >
                                        <!-- <ion-col size="2" style="font-size:12px;"> -->
                                            <!-- <div style="width: 40px;" *ngIf="item.conreconexion == '0' " >
                                                <ion-img class="img_menu"  src="./assets/icon/desconectado.png"></ion-img>
                                            </div>
                                            <div style="width: 40px;" *ngIf="item.conreconexion == '1' " >
                                                <ion-img class="img_menu"  src="./assets/icon/conectado.png"></ion-img>
                                            </div> -->
                                            <!-- <ion-img class="img_menu"  src="./assets/iconos/marcadores/vehiculo/vehiculo-amarillo.svg"></ion-img>
                                        </ion-col> -->
                                  
                                  <ion-col size="12">
                                    <div style="padding-left: 10px;padding-right: 10px;padding-bottom: 10px;padding-top: 0px;">
                                      <ion-row>
                                        <ion-col size="6">
 
                                          
                                            <div class="tarjeta-titulo">
                                                Fecha pago 
                                            </div>
                                            <div class="tarjeta-descripcion">
                                                <div *ngIf="item.fecha_pago!=null;">{{item.fecha_pago}}</div>
                                                <div *ngIf="item.fecha_pago==null;">No definido</div>
      
                                            </div>
                                            <div class="tarjeta-titulo">
                                                Fecha inicio 
                                            </div>
                                            <div class="tarjeta-descripcion">
                                              <div *ngIf="item.fecha_inicio!=null;">{{item.fecha_inicio}}</div>
                                              <div *ngIf="item.fecha_inicio==null;">No definido</div>
      
                                            </div>
                                            <div class="tarjeta-titulo">
                                              Fecha fin 
                                            </div>
                                            <div class="tarjeta-descripcion">
                                              <div *ngIf="item.fecha_fin!=null;">{{item.fecha_fin}}</div>
                                              <div *ngIf="item.fecha_fin==null;">No definido</div>
                                            </div>

                                        </ion-col>
    
                                        <ion-col size="6">
 
                                          <div class="tarjeta-titulo">
                                            Celular
                                          </div>
                                          <div class="tarjeta-descripcion">
                                            <div *ngIf="item.celular!=null;">{{item.celular}}</div>
                                            <div *ngIf="item.celular==null;">No definido</div>
                                          </div>
                                          <div class="tarjeta-titulo">
                                            Cant. dispositivos
                                          </div>
                                          <div class="tarjeta-descripcion">
                                            <div *ngIf="item.cantidad_vehiculos!=null;">{{item.cantidad_vehiculos}}</div>
                                            <div *ngIf="item.cantidad_vehiculos==null;">No definido</div>
                                          </div>
                                          <div class="tarjeta-titulo">
                                            Total pago
                                          </div>
                                          <div class="tarjeta-descripcion">
                                            <div *ngIf="item.sub_total!=null;">{{item.sub_total}}</div>
                                            <div *ngIf="item.sub_total==null;">No definido</div>
                                          </div>

                                        </ion-col>
                                      </ion-row>
                                    </div>
                                  </ion-col>
                                        
                                </ion-row>
                    
                            </div>
                        </ion-col>
                    </ion-row>

                </div>
            </ion-col>
        </ion-row>
    </div>

    
  </ion-list>

</ion-content>
