<app-header titulo="Lista de vehículos" boton_atras="true">
</app-header>


<ion-content>

  <ion-list>
    <div style="background: #fff;">
        <ion-row *ngFor="let item of lista_vehiculos" >
            <ion-col size="12">
                <div class="btnprincipal" 
                style="
                margin-top: 4px; 
                margin-bottom: 4px; 
                margin-left: 20px; 
                margin-right: 20px; 
                border-radius: 20px;
                background:#fff;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                border-left: 4px solid #2196f3 !important;

                "
                >
                    
                    <ion-row >             
                        <ion-col size="12" style="margin: 0px;padding: 0px;" >
                            <div>
                                <ion-row>
                                  <ion-col size="12" style="padding: 0px;margin: 0px;">
                                    <div  style="height: 50px; border-top-left-radius: 20px;border-top-right-radius: 20px;color: #fff;font-weight: bold;">
                                      <ion-row>
                                        <ion-col size="3">
                                          <div style="text-align: right; padding-top: 12px;font-size: 1.3rem;text-transform: uppercase;color: #2196f3;">
                                            <ion-icon name="car" style="width: 40px;"></ion-icon>
                                          </div>
                                        </ion-col>
                                        <ion-col size="6">
                                          <div style="text-align: center; 
                                          padding-top: 12px;font-family: 'Verdana';
                                          font-size: 0.9rem;
                                          text-transform: uppercase;color: green;
                                          ">
                                            
                                            PLACA {{item.placa}}
                                          </div>
                                        </ion-col>
                                        <ion-col size="3">
                                          <div style="text-align: right;padding-right: 20px; padding-top: 10px; color: #007bff;">
                                            <ion-icon (click)="mostrar_opciones_vechiulo(item.placa,item.linea_gps,item.id_vehiculo)" style="width: 25px;" name="ellipsis-vertical-outline"></ion-icon>
                                          </div>
                                        </ion-col>
                                      </ion-row>


                                    </div>
                                  </ion-col>
                                </ion-row>
                                <ion-row  >
                                        <!-- <ion-col size="2" style="font-size:12px;"> -->
                                            <!-- <div style="width: 40px;" *ngIf="item.conreconexion == '0' " >
                                                <ion-img class="img_menu"  src="./assets/icon/desconectado.png"></ion-img>
                                            </div>
                                            <div style="width: 40px;" *ngIf="item.conreconexion == '1' " >
                                                <ion-img class="img_menu"  src="./assets/icon/conectado.png"></ion-img>
                                            </div> -->
                                            <!-- <ion-img class="img_menu"  src="./assets/iconos/marcadores/vehiculo/vehiculo-amarillo.svg"></ion-img>
                                        </ion-col> -->
                                  
                                  <ion-col size="12">
                                    <div style="padding-left: 10px;padding-right: 10px;padding-bottom: 10px;padding-top: 0px;">
                                      <ion-row>
                                        <ion-col size="6">
                                            <div class="tarjeta-titulo">
                                                Placa
                                            </div> 
                                            <div class="tarjeta-descripcion">
                                              <div *ngIf="item.placa!=null;">{{item.placa}}</div>
                                              <div *ngIf="item.placa==null;">No definido</div>             
                                            </div>
                                            <div class="tarjeta-titulo">
                                                Modelo 
                                            </div>
                                            <div class="tarjeta-descripcion">
                                              <div *ngIf="item.modelo!=null;">{{item.modelo}}</div>
                                              <div *ngIf="item.modelo==null;">No definido</div>
    
                                              
                                            </div>
                                            <div class="tarjeta-titulo">
                                              Cilindrada
                                            </div>
                                            <div class="tarjeta-descripcion">
                                              <div *ngIf="item.cilindrada!=null;">{{item.cilindrada}}</div>
                                              <div *ngIf="item.cilindrada==null;">No definido</div>
                                            </div>
                                        </ion-col>
    
                                        <ion-col size="6">
                                          <div class="tarjeta-titulo">
                                              Marca 
                                          </div>
                                          <div class="tarjeta-descripcion">
                                              <div *ngIf="item.marca!=null;">{{item.marca}}</div>
                                              <div *ngIf="item.marca==null;">No definido</div>
    
                                          </div>
                                          <div class="tarjeta-titulo">
                                              Color 
                                          </div>
                                          <div class="tarjeta-descripcion">
                                            <div *ngIf="item.color!=null;">{{item.color}}</div>
                                            <div *ngIf="item.color==null;">No definido</div>
    
                                          </div>
                                          <div class="tarjeta-titulo">
                                            Regional 
                                          </div>
                                          <div class="tarjeta-descripcion">
                                            <div *ngIf="item.nombre_departamento!=null;">{{item.nombre_departamento}}</div>
                                            <div *ngIf="item.nombre_departamento==null;">No definido</div>
                                          </div>
                                        </ion-col>
                                      </ion-row>
                                    </div>
                                  </ion-col>
                                        
                                </ion-row>
                    
                            </div>
                        </ion-col>
                    </ion-row>

                </div>
            </ion-col>
        </ion-row>
    </div>

    
  </ion-list>








  <ion-modal [isOpen]="isModalOpen"  (willDismiss)="onWillDismiss($event)">
    <ng-template>

      <!-- <app-header titulo="Filtros" boton_atras="false"></app-header> -->
      <ion-header class="ion-no-border">
        <ion-toolbar>
            <div style="text-align: center;margin-top: 5px;padding-bottom: 5px;">
              Filtros
            </div>
        </ion-toolbar>
      </ion-header>
      


      <br>
      <ion-content class="ion-padding">

        <form [formGroup]="form_geocerca" (submit)="GuardarGeocerca()">

            <ion-row>
              <ion-col size="12">
                <div class="titulo_formulario fuente-titulo">
                  Geocerca
                </div>
                <div class="espacio_formulario">
                  <ion-select placeholder="Seleccionar tipo de monitoreo"  formControlName="lista_geocercas_seleccionados"  multiple="true">
                    <ion-select-option *ngFor="let m of lista_geocercas" [value]="m.id" >{{m.nombre_geocerca}}</ion-select-option>
                  </ion-select>
                </div>
              </ion-col>
            </ion-row>
            

            <ion-row>
              <ion-col size="12">
                <div class="titulo_formulario fuente-titulo">
                  Notificación
                </div>
                <div class="espacio_formulario">
                  <ion-select placeholder="Seleccionar notificacion"  formControlName="lista_notificacion_seleccionados" [multiple]="true">
                    <ion-select-option *ngFor="let v of lista_notificacion" [value]="v.id_notificacion" >{{v.notificacion}}</ion-select-option>
                  </ion-select>
                </div>
              </ion-col>
            </ion-row>


            <ion-row>
              <ion-col size="12">
                <br>
                <div class="espacio_formulario">
                  <ion-button color="primary" type="submit" [disabled]="form_geocerca.invalid" >Aceptar</ion-button>
                </div>
                <div class="espacio_formulario">
                  <ion-button color="medium" (click)="CerrarModal()">Cancelar</ion-button>
                </div>
              </ion-col>
            </ion-row>

        </form>

      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
