.img_menu{
    width: 170px;
    margin: 0 auto;
}
.contenido_logo{
    margin-top: 10px;
    margin-right: 15px;
}
.usuario{
    padding-top: 14px;
    text-align: center;
    font-family: 'Verdana';
}
.correo{
    text-align: center;
    color: rgb(108, 95, 95);
    padding-top: 4px;
    font-family: 'Verdana';
}
.lista_menu{
    margin: 0 auto;
    // background: red;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Verdana';
}
.icono_menu{
    padding-top: 10px;
    zoom: 1.2; text-align: right;
}
.texto_menu{
    padding-top: 17px;
    font-size: 17px;text-align: left;
    font-family: 'Verdana';
}
.cerrar_sesion{
    text-align: center;
    background: rgba(223, 217, 217, 0.411);
    border-radius: 7px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Verdana';
}