<ion-header style="border-bottom: 0px solid #fff;">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button *ngIf="boton_atras=='true' "  slot="icon-only" icon="arrow-back-outline" style="color: white ;" defaultHref="/" text=""  mode="ios"> </ion-back-button> 
    </ion-buttons>


    <div style="text-align: center;margin-top: 5px;padding-bottom: 5px;">
      <!-- <ion-img class="img_menu" style="height: 35px;"  src="../../../assets/logos/logoblanco.png"></ion-img> -->
      {{titulo}}
    </div>

    <ion-buttons slot="end">
    </ion-buttons>

  </ion-toolbar>


</ion-header>