<app-header titulo="Lista de geocarcas" boton_atras="true">
</app-header>


<ion-content>

  <ion-list>
    <div style="background: #fff;">

      <ion-row>
        <ion-col size="12">
          <div style="text-align: right; padding-top: 12px;padding-right: 12px;font-size: 1.6rem;text-transform: uppercase;color: black;">
            <ion-icon name="add" (click)="formulario_geocerca(0,'','','','')" style="width: 40px;"></ion-icon>
          </div>
        </ion-col>
      </ion-row>

        <ion-row *ngFor="let item of lista_geocercas" >
            <ion-col size="12">
                <div class="btnprincipal" 
                style="
                margin-top: 4px; 
                margin-bottom: 4px; 
                margin-left: 20px; 
                margin-right: 20px; 
                border-radius: 20px;
                background:#fff;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                border-left: 4px solid #2196f3 !important;

                "
                >
                    
                    <ion-row >             
                        <ion-col size="12" style="margin: 0px;padding: 0px;" >
                            <div>
                                <ion-row>
                                  <ion-col size="12" style="padding: 0px;margin: 0px;">
                                    <div  style="height: 50px; border-top-left-radius: 20px;border-top-right-radius: 20px;color: #fff;font-weight: bold;">
                                      <ion-row>
                                        <!-- <ion-col size="3">
                                          <div style="text-align: left; padding-top: 12px;font-size: 1.3rem;text-transform: uppercase;color: #2196f3;">
                                            <ion-icon name="car" style="width: 40px;"></ion-icon>
                                          </div>
                                        </ion-col> -->
                                        <ion-col size="9">
                                          <div style="text-align: left; 
                                          padding-top: 12px;font-family: 'Verdana';
                                          font-size: 0.9rem;
                                          text-transform: uppercase;color: rgb(139, 140, 139);padding-left: 15px;
                                          ">
                                            
                                            {{item.nombre_geocerca}}
                                          </div>
                                        </ion-col>
                                        <ion-col size="3">
                                          <div style="text-align: right;padding-right: 20px; padding-top: 10px; color: black;">
                                            <ion-icon (click)="mostrar_opciones_geocerca(item.id,item.nombre_geocerca,item.descripcion,item.area,item.tipo_geocerca)" style="width: 25px;" name="ellipsis-vertical-outline"></ion-icon>
                                          </div>
                                        </ion-col>
                                      </ion-row>


                                    </div>
                                  </ion-col>
                                </ion-row>
                                <ion-row  >
                                        <!-- <ion-col size="2" style="font-size:12px;"> -->
                                            <!-- <div style="width: 40px;" *ngIf="item.conreconexion == '0' " >
                                                <ion-img class="img_menu"  src="./assets/icon/desconectado.png"></ion-img>
                                            </div>
                                            <div style="width: 40px;" *ngIf="item.conreconexion == '1' " >
                                                <ion-img class="img_menu"  src="./assets/icon/conectado.png"></ion-img>
                                            </div> -->
                                            <!-- <ion-img class="img_menu"  src="./assets/iconos/marcadores/vehiculo/vehiculo-amarillo.svg"></ion-img>
                                        </ion-col> -->
                                  
                                  <ion-col size="12">
                                    <div style="padding-left: 10px;padding-right: 10px;padding-bottom: 10px;padding-top: 0px;">
                                      <ion-row>
                                        <ion-col size="6">
                                            <div class="tarjeta-titulo">
                                              Geocerca
                                            </div> 
                                            <div class="tarjeta-descripcion">
                                              <div *ngIf="item.nombre_geocerca!=null;">{{item.nombre_geocerca}}</div>
                                              <div *ngIf="item.nombre_geocerca==null;">No definido</div>             
                                            </div>
                                            <div class="tarjeta-titulo">
                                              Descripción 
                                            </div>
                                            <div class="tarjeta-descripcion">
                                              <div *ngIf="item.descripcion!=null;">{{item.descripcion}}</div>
                                              <div *ngIf="item.descripcion==null;">No definido</div>
    
                                            </div>
                                        
                                        </ion-col>
    
                                        <ion-col size="6">
                                          <div class="tarjeta-titulo">
                                            Tipo geocerca
                                          </div>
                                          <div class="tarjeta-descripcion">
                                            <div *ngIf="item.tipo_geocerca!=null;">{{item.tipo_geocerca}}</div>
                                            <div *ngIf="item.tipo_geocerca==null;">No definido</div>
                                          </div>
                                          <div class="tarjeta-titulo">
                                              Usuario 
                                          </div>
                                          <div class="tarjeta-descripcion">
                                            <div *ngIf="item.usuario!=null;">{{item.usuario}}</div>
                                            <div *ngIf="item.usuario==null;">No definido</div>
    
                                          </div>
                                          <!-- <div class="tarjeta-titulo">
                                            Regional 
                                          </div>
                                          <div class="tarjeta-descripcion">
                                            <div *ngIf="item.nombre_departamento!=null;">{{item.nombre_departamento}}</div>
                                            <div *ngIf="item.nombre_departamento==null;">No definido</div>
                                          </div> -->
                                        </ion-col>
                                      </ion-row>
                                    </div>
                                  </ion-col>
                                        
                                </ion-row>
                    
                            </div>
                        </ion-col>
                    </ion-row>

                </div>
            </ion-col>
        </ion-row>
    </div>

    
  </ion-list>

</ion-content>
